.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__menu-item {
  font-size: 18px;
}

.header__menu-item:first-child {
  list-style: none;
}

.header__logo {
  display: block;
  width: 139px;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
}

.cover {
  position: relative;
  min-height: 747px;
  margin-bottom: 180px;
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__tittle {
  position: relative;
  margin-bottom: 106px;
  color: white;
  font-weight: bold;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 20px;
}

.cover__tittle-top {
  text-align: start;
}

.cover__tittle-center {
  text-align: center;
}

.cover__tittle-bottom {
  text-align: end;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 19px;
}

.cover__description-button {
  border: 1px solid white;
  padding: 11px 32px;
  color: inherit;
  font: inherit;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  margin-bottom: 120px;
  padding: 0px 24px;
}

.lots__tittle {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__menu {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style-type: none;
}

.lots__menu-item {
  position: relative;
  width: 334px;
  min-height: 596px;
}

.lots__item-link {
  height: 100%;
  text-decoration: none;
}

.lots__item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  color: white;
  background-position: center;
  background-size: cover;
}

.left-card {
  background-image: url(../images/card-lot-01.jpg);
}

.middle-card {
  background-image: url(../images/card-lot-02.jpg);
}

.rigt-card {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__content-tittle {
  position: relative;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline 1px;
  text-transform: uppercase;
}

.lots__content-text {
  position: relative;
  font-size: 20px;
  line-height: 1.2;
}

.lots__link {
  margin-left: 40px;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 313px 1fr;
  margin-bottom: 180px;
  padding: 35px 24px 0 71px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
}

.about__logo img {
  max-width: 148px;
}

.about__content{
  padding-top: 101px;
}

.about__title {
  margin-bottom: 100px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: grid;
  gap: 24px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  padding-bottom: 82px;
}